@font-face {
  font-family: 'langdon';
  src: url("../fonts/langdon/langdon-webfont.eot");
  src: url("../fonts/langdon/langdon-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/langdon/langdon-webfont.woff2") format("woff2"), url("../fonts/langdon/langdon-webfont.woff") format("woff"), url("../fonts/langdon/langdon-webfont.ttf") format("truetype"), url("../fonts/langdon/langdon-webfont.svg#langdonregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'museo';
  src: url("../fonts/museo/museoslab-500-webfont.eot");
  src: url("../fonts/museo/museoslab-500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/museoslab-500-webfont.woff2") format("woff2"), url("../fonts/museo/museoslab-500-webfont.woff") format("woff"), url("../fonts/museo/museoslab-500-webfont.ttf") format("truetype"), url("../fonts/museo/museoslab-500-webfont.svg#museo_slab500") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "museo", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.3;
  color: #3fb5b8;
  margin-top: 80px; }

h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, h6.secondary {
  color: #e74543; }

h1.theme-green, h2.theme-green, h3.theme-green, h4.theme-green, h5.theme-green, h6.theme-green, p.theme-green, a.theme-green {
  color: #68b83f; }

h1.theme-red, h2.theme-red, h3.theme-red, h4.theme-red, h5.theme-red, h6.theme-red, p.theme-red, a.theme-red {
  color: #f39229; }

h1.theme-orange, h2.theme-orange, h3.theme-orange, h4.theme-orange, h5.theme-orange, h6.theme-orange, p.theme-orange, a.theme-orange {
  color: #e71e1e; }

h1.theme-black, h2.theme-black, h3.theme-black, h4.theme-black, h5.theme-black, h6.theme-black, p.theme-black, a.theme-black {
  color: #323232; }

h1, h2 {
  color: #3fb5b8;
  text-transform: lowercase; }

h1 {
  font-size: 100px;
  font-family: "langdon", Helvetica, Arial, sans-serif; }
  @media (max-width: 765px) {
    h1 {
      font-size: 50px; } }
  h1.framed {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    display: inline-block;
    line-height: 60px;
    padding-top: 8px; }

h2 {
  font-size: 30px;
  text-transform: uppercase; }

h2, h3 {
  font-family: "langdon", Helvetica, Arial, sans-serif; }

p, a {
  font-family: "museo", Helvetica, Arial, sans-serif; }

a {
  color: #F8F92D; }
  a:hover {
    color: #9d6bb6; }

p {
  font-size: 18px;
  color: #323232; }

header .row {
  padding-top: 0px;
  padding-bottom: 0px; }

header a {
  font-family: "museo", Helvetica, Arial, sans-serif; }

.row {
  padding-top: 50px;
  padding-bottom: 50px; }

.address {
  text-align: right; }
  @media (max-width: 600px) {
    .address {
      text-align: left; } }

.poem {
  text-align: center; }

.centered-image {
  display: block;
  margin: 0 auto; }

.larger-copy {
  font-size: 14px; }

.top-nav {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999999;
  box-shadow: inset -1px 0 0 0 #d2d2d2, inset -1px 0 0 0 #e6e6e6, inset 1px 0 0 0 #d2d2d2, 1px 0 0 0 #e6e6e6, 0 -1px 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1; }

.top-bar, .top-bar.expanded .title-area {
  background: none; }

.top-bar-section ul li p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  line-height: 60px;
  font-weight: 400; }

.top-bar-section ul li > a {
  font-size: 18px;
  background: none;
  color: #323232; }
  @media (max-width: 765px) {
    .top-bar-section ul li > a {
      padding: 5px 5px !important;
      text-align: center; } }
  .top-bar-section ul li > a:hover {
    background-color: transparent;
    color: #9d6bb6 !important; }

.top-bar .name h1 a {
  background: url(../images/header/logo-mobile.png);
  background-position: center center;
  background-size: 75%;
  background-repeat: no-repeat;
  text-indent: -999px;
  width: 115px; }

.top-bar .toggle-topbar.menu-icon a::after {
  box-shadow: 0 10px 0 1px #323232, 0 16px 0 1px #323232, 0 22px 0 1px #323232; }

.top-bar .toggle-topbar.menu-icon a {
  color: #323232;
  font-size: 18px; }

.top-bar.expanded .toggle-topbar a {
  color: #9d6bb6;
  font-size: 18px; }

.top-bar.expanded .toggle-topbar a span {
  box-shadow: none; }

.top-bar-section .right {
  background-color: #ffffff; }

section h3 {
  font-size: 14px;
  text-transform: none;
  font-weight: 600; }

.section-title {
  margin-bottom: 0px;
  background-color: #3fb5b8;
  color: #ffffff;
  text-align: center;
  padding: 25px 0 25px 0;
  margin: 0px; }
  .section-title.red {
    background-color: #f39229; }
  .section-title.yellow {
    background-color: #F8F92D; }
  .section-title.green {
    background-color: #68b83f; }
  .section-title.orange {
    background-color: #e71e1e; }
  .section-title.blue {
    background-color: #3fb5b8; }

.about-section {
  text-align: center; }
  @media (max-width: 765px) {
    .about-section .about-row {
      padding-bottom: 0; } }

.about-section-polaroid {
  display: block;
  margin: 0 auto; }
  @media (max-width: 765px) {
    .about-section-polaroid {
      margin-bottom: 40px; } }

.about-section-intro {
  font-size: 27px; }
  @media (max-width: 765px) {
    .about-section-intro {
      padding: 20px; } }

@media (max-width: 765px) {
  .location-section .location-section-row {
    padding-top: 0; } }

.accommodation-section a {
  display: block;
  text-align: left;
  padding-bottom: 10px; }

.accommodation-section .intro-link {
  display: inline; }

.travel {
  text-align: center;
  padding-top: 0px; }

.hero-wrap .logo-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  margin-top: 40px; }

.hero-wrap .logo-wrap > span {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle; }

.hero-wrap .logo-wrap > span > img {
  display: block;
  margin: 0 auto; }

.about-wrap {
  text-align: center;
  padding: 50px 0; }

.about-wrap .section-title {
  color: #273747; }

.circle-icon {
  width: 96px;
  height: 96px;
  display: block;
  margin: 20px auto;
  background-position: center center;
  background-size: 100%; }

.bride-icon {
  background-image: url(../images/bride.png); }

.groom-icon {
  background-image: url(../images/groom.png); }

.underground-icon {
  background-image: url(../images/underground.png); }

.overground-icon {
  background-image: url(../images/overground.png); }

.bus-icon {
  background-image: url(../images/bus.png); }

.heart-icon {
  background-image: url(../images/hearts.png);
  width: 63px;
  height: 39px;
  display: block;
  margin: 20px auto;
  background-position: center center;
  background-size: 100%;
  margin-top: 150px; }

.services-wrap {
  background: #ececec;
  color: #273747;
  padding: 50px 0; }

.services-wrap .section-title {
  color: #273747; }

.services-wrap h3 {
  padding-left: 30px;
  font-size: 15px;
  line-height: 2; }

.services-wrap .service-icon {
  display: block;
  position: absolute;
  left: 10px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; }

.services-wrap .service-icon.carpets {
  background-image: url(../images/carpetcleans.png); }

.services-wrap .service-icon.floor {
  background-image: url(../images/vacuum.png); }

.services-wrap .service-icon.supplies {
  background-image: url(../images/surface.png); }

.services-wrap .service-icon.office {
  background-image: url(../images/officecleans.png); }

.services-wrap .service-icon.waste {
  background-image: url(../images/eco_dispose.png); }

.services-wrap .service-icon.windows {
  background-image: url(../images/window.png); }

.clients-wrap {
  background: #0094b8;
  color: #fff;
  padding: 50px 0;
  text-align: center; }

.clients-wrap .section-title {
  color: #fff; }

.quote-carousel {
  overflow: hidden; }

.quote-carousel .owl-item {
  float: left;
  width: 100%;
  margin-bottom: 50px; }

.quote-carousel .item p {
  font-size: 16px;
  font-weight: 300;
  width: 50%;
  margin: 0 auto; }

.quote-carousel .item p:last-child {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px auto 0; }

.quote-carousel .owl-controls .owl-page {
  display: inline-block; }

.quote-carousel .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  border-radius: 20px;
  background: #fff; }

.quote-carousel .owl-controls .owl-page.active span {
  background: none;
  border: 2px solid #fff;
  border-radius: 50%; }

.gallery-wrap {
  padding: 50px 0; }

.maps-wrap {
  width: 100%;
  height: 600px; }

.maps-wrap .map {
  width: 100%;
  min-height: 100%;
  z-index: -1; }

#mapCanvas img {
  max-width: none; }

.footer-wrap {
  background: #273747;
  padding: 50px 0;
  color: #fff; }

.footer-wrap .section-title {
  color: #fff; }

.store-icon {
  margin-right: 10px; }

.google-play-link {
  margin-left: 20px; }

.row-wedpics {
  padding-top: 0px; }

.payment {
  text-align: center; }
  .payment table {
    display: block; }
    .payment table td {
      font-family: 'museo'; }

@media only screen and (max-width: 1200px) {
  .hero-wrap .background-video {
    display: none; }
  .top-bar-section ul li p {
    line-height: 1;
    padding: 12px 0 12px 15px; } }

.rsvp-email {
  word-break: break-word;
  word-wrap: break-word; }
